

@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@700&family=Kanit:ital,wght@0,300;1,300&family=Raleway&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,500;0,700;1,400&family=Caveat:wght@400;600&family=Inter:wght@500&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,500;0,700;1,400&family=Caveat:wght@400;600&family=Inter:wght@500&family=Oswald:wght@300&family=Roboto+Mono:wght@200;400&display=swap');


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gentium Plus', serif;
    font-family: 'Raleway', sans-serif;
}

/*
===============
====HEADER=====
===============
*/

header {
    background-color: white;
    top: 0;
    position: sticky;
    display: flex;
    padding: 10px 3%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    box-shadow: 2px 2px 4px 3px rgba(128, 128, 128, 0.295);
}


.header-page-name p, .text-name p {
    font-size: 10px;
    margin-bottom: auto;
}
.header-page-name span, .text-name span{ 
    font-family: 'Caveat', cursive;
    font-size: 20px
}


header .nav-list li {
    font-weight: 500;
    list-style: none;
    display: inline-flex;
    padding: 6px 20px;
    cursor: pointer;
    margin: 0 8px;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}


header .nav-list li:hover {
    transform: scale(1.1,1.1);
    opacity: 0.3;
}


/*
===============
====BANNER=====
===============
*/


.banner {
    height: 600px;
}

.banner .banner-cover, .menu{
    height: 100%;
    background-image: linear-gradient(rgba(247, 242, 238, 0.6), rgba(255, 255, 255, 0.596)), url("https://images.unsplash.com/photo-1570626742839-59acd9822944?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: center;
}

.banner-grid {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-cover-text{
    position: relative;
}

.banner-cover-text-p {
    max-block-size: 300px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-cover-text-p .small-text {
    font-size: 16px;
    font-weight: 600;
    color: brown;
}

.banner-cover-text-p .large-text {
    font-size: 36px;
    font-weight: bold;
}

.banner-cover-text-p .small-text, .button-pre-order{
    float: right;
}

.banner-cover-text-p .button-pre-order {
    font-size: 20px;
    font-family: 'Gentium Plus', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Staatliches', cursive;
    margin: 20px 0 0 0;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: all 0.1s ease-in-out;
}

.button-pre-order:hover {
    background-color:brown;
}

.button-pre-order:active {
    opacity: 0.5;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #f3ad74;
}


.banner-cover-latest-book {
    position: relative;
    padding-top: 33px;
    text-align: left;
}

.banner-cover-latest-book img{
    height: 435px;
    width: 380px;
}


/*
===============
====IMAGE-SECTION====
===============
*/


.img-section {
    height: 600px;
    margin-top: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.158),rgba(0, 0, 0, 0.61)) ,url("https://images.unsplash.com/photo-1505682634904-d7c8d95cdc50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: 50%;
}

.img-section-text {
    height: 100%;
    display: flex;
    align-items: center;
    
}
.img-section-text p {
    padding-left: 5%;
    color: white;
    font-weight: 800;
    font-size: 95px;
    font-family: 'Roboto Mono', monospace;
    line-height: 10rem;
}


/*
===============
====REVIEWS====
===============
*/


.reviews {
    margin-top: 50px;

}

.reviews-container{ 
    position: relative;
    height: 100%;
    padding: 50px 0;
    margin-bottom: 80px;
}

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 7%;
    gap: 4em;
}

article {
    display: inline-flex;
    padding: 3%;
    border-radius: 5px;
    background-color: rgba(247, 209, 158, 0.308);
}

.article-text {
    margin: 0 2%;
}

.article-text-highlight {
    font-weight: 1000;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.article-text-p {
    padding: 0 3%;
    text-align: justify;
}

.article-text-person-name {
    margin-top: 14px;
    float: right;
    font-size: 20px;
    font-weight: 400;
}

article img{ 
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.one {
    grid-column: 1 / 3 ;
}

/*
===============
====BOOKS======
===============
*/

.book-intro {
    text-align: center;
    margin: 130px 0 100px 0;
    font-size: 40px;
}

.books-container {
    position: relative;
    padding: 0 5%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2, 1fr);
}

.book {
    text-align: center;
    height: auto;
    padding: 0 5%;
}

.book-text {
    text-indent: 60px;
    text-align: justify;
    line-height: 40px;
    margin-bottom: 40px;
}

.title {
    margin: 40px 0;
    font-size: 40px;
    font-family: 'Alegreya SC', serif;
}

.book-one {
    grid-row: 1 / 3;
}

.book-two {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}


.book-img img{
    height: 500px;
    width: 400px;
}


.book-button {
    width: 140px;
    height: 50px;
    background: #f3f0f1;
    position: relative;
    background: #f3f0f1;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin: auto;
}

.book-button:hover {
    opacity: 0.3;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
}
.book-button:active {
    opacity: 1;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
}
    

.book-button span {
    line-height: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: semibold;
}

/*
===============
====FOOTER======
===============
*/

.footer {
    background-color: black;
}

.footer-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2 ,1fr);
}

.text {
    padding: 8% 15%;
    text-align: justify;
}

.text .text-name {
    color: white;
    margin-bottom: 40px;
}

.text .text-name span {
    font-size: 30px;
}

.text .text-name p {
    font-size: 15px;
}

.text .text-paragraph {
    line-height: 23px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.418);
}



.links {
    
    text-align: center;
}

.links-container {
    color: white;
    display: inline-flex;
    padding: 20% 0;
}

.links-ideas, .links-book, .links-social {
    font-size: 10px;
    padding: 0 40px;
    color: rgba(255, 255, 255, 0.418);
}

.links-container li{ 
    margin: 30px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.links-container li::after{ 
    content: "";
    height: 2px;
    width: 0;
    display: block;
    margin: auto;
    transition: 0.2s;
    background: rgba(255, 255, 255, 0.418);
    bottom: 0;
    cursor: pointer;
}

.links-container li:hover::after {
    width: 100%;
}

.links li {
    list-style: none;
}

/*
=====================
MENU-HEADER
====================
*/


/*
=====================
MEDIA QUERIES
====================
*/


.menu {
    display: none;
}

.fa-bars {
  
}

.annoying-bars {
    display: none;
}





@media only screen and (max-width: 1024px) {

    
    .menu {
        overflow: hidden;
        transition: all .3s ease-in-out;
        position: absolute;
        z-index: 1;
        right: 0;
        background: white;
        display: block;
        width: 0;
    }

    .menu-toggle {
        width: 50%;
        display: block;
    }

    

    .menu-tabs {
        display: flex;
        flex-direction: column;
        text-align: right;
        
    }

    .menu-tabs .header-navigation{
        text-align: left;
        padding: 30px 10px;
        transition: none;
  
    }


    .header-navigation-toggle{
   
        border: 1px solid black;
    }

    .header-navigation li {
        text-align: left;
        list-style: none;
        padding: 20px 0;
        border-bottom: 1px solid black;
    }

    .annoying-bars {
        display: block;
        position: absolute;
        right: 10px;
        z-index: 6;
        margin-top: 20px;
    }
    
    .fa-bars {
        transition: all .3s ease-in-out;
        transform: rotate(0deg);
        padding: 10px;
    }
    
    .fa-bars-toggle {
        transform: rotate(90deg);
    }






    
    .header{
        display: none;
        
    }



    .banner-grid {
        grid-template-columns: 1fr;
    }

    .banner-cover-text-p .small-text, .button-pre-order{
        float: none;
    }

    .banner-cover-text-p {
        max-block-size: 300px;
        position: absolute;
        top: 2%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .banner-cover-latest-book {
        grid-row: 1 / 2;
        text-align: center;
        padding: 0%;
    }

    .banner-cover-text{
        text-align: center;
    }

    .banner-cover-latest-book img{
        height: 300px;
        width: 250px;
        margin-top: 30px;
        margin-left: 40px;
    }






    

    .reviews-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    article {
        display: block;
    }
    
    .article-person{ 
        text-align: center;
    }
    
    .article-text {
        text-align: center;
    }

    .one {
        grid-column: 1 / 2 ;
    }








    .books-container {
        grid-template-columns: none;
        grid-template-rows: repeat(4, 1fr);
        width: 100%;
        padding: 0%;
    }

    .book-intro {
        text-align: center;
        margin: 130px 40px 100px 40px;
        font-size: 40px;
    }
    
    .book-img img{
        height: 300px;
        width: 250px;
        padding-left: 30px;
        grid-row: 1 / 2;
    }

    .book {
        text-align: center;
    }

    .book-two {
        grid-row: 3/5;
        grid-column: 1/2;
    }

    .book-button {
        width: 100px;
        height: 50px;
        margin-bottom: 50px;
    }

    .book-button span {
    
        font-size: 14px;
    }







    .img-section-text p {
        padding-left: 5%;
        color: white;
        font-weight: 500;
        font-size: 40px;
        font-family: 'Roboto Mono', monospace;
        line-height: 3rem;
    }


   




    .footer-container {
        display: grid;
        height: 100%;
        grid-template-columns: 65% 35%;
    }
    

    .text {
        padding: 8% 6%;
        text-align: justify;
    }
    .text .text-name {
        margin-bottom: 25px;
    }
    

    .text .text-paragraph {
        line-height: 15px;
        font-size: 10px;
    }

    .links-container {
        display: block;
        padding: 0;
        margin: 0;
    }

    .links-container li{ 
        margin: 15px;
        font-size: 10px;
    }

    .links-ideas, .links-book, .links-social {
        font-size: 8px;
        margin: 30px 0;
        padding: 0;
    }
    
  }

@media only screen and (max-width: 376px) {
    .book-text .title {
        margin: 20px 0;
        font-size: 35px;
    }

    .book-text {
        text-indent: 40px;
        line-height: 30px;
    }
    
}

@media only screen and (max-width: 321px) {
    .book-text .title {
        margin: 16px 0;
        font-size: 27px;
    }

    .book-intro {
        text-align: center;
        margin: 130px 40px 100px 40px;
        font-size: 32px;
    }
}